*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Titillium Web';
}

.container{
  width: auto;
  color:ghostwhite;
  background: #e6ecf0;
  min-height: 100vh;
}

.header{
  display: flex;
  padding: 30px 0 30px 0;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #201c29;
  background-color: #100e17;
}

/*Modifying the menu [start]*/
.menu{
  overflow: hidden;
  display: flex;
  font-size: 20px;
}

.header .icon{
  display:none;

}

.menu a{
  padding: 4px 8px;
  display: block;
}
.menu a:hover{
  background: rgb(252,160,69);
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,160,69,1) 100%);

}
#logout{
  color: red;
}
#logout:hover{
  color: inherit;
  transition: 0.1s;
}
a{
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  transition: 1s
}


/*Modifying the menu [end]*/

/*Searchbox [start]*/
.header p{
  margin:0;
  align-self: center;
}
.header input[type=text]{
  margin:15px 0 15px 0;
  padding:6px;
  border: 2px solid ghostwhite;
  border-right: none;
  font-size: 17px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  background: inherit;
  color: ghostwhite;
}
.header ::placeholder{
  color: ghostwhite;
  opacity: 0.7;
}
.header input[type=text]:focus{
  outline: none;
}
.header button{
  font-size: 17px;
  padding: 6px 10px;
  border: 2px solid ghostwhite;
  border-left: none;
  background: rgb(252,160,69);
  background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
  cursor: pointer;
  transition: 0.5s;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.header button:focus{
  outline: none;
}
/*Searchbox [end]*/

/*Navigation bar [start]*/
.nav{
  display: flex;
  justify-content: space-around;
  padding: 0;
  background: ghostwhite;
  color:#100e17;
}
.nav a{
  width: 100px;
  text-align: center;
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
  transition: 0.15s;
}
.nav a:hover{
  color:#ff5b0d;
  border-radius: 3px;
  border-bottom: 2px solid #ff5b0d;
}
/*Navigation bar [end]*/

/*Main content[start]*/
.main{
  display: flex;
  padding: 10px 0px;
  color:#100e17;
  font-weight:600;
}

/*left div[start]*/
.info{
  display: flex;
  align-self: flex-start;
  width: 20%;
  flex-direction: column;
  flex-wrap:wrap;
  background: white;
  padding: 8px;
  margin: 4px;
}
.profile_pic{
  font-size: 50px;
  color:#ff5b0d;
  transition: 0.1s;
  padding-right: 10px;
}
.username a:hover{
  text-decoration: underline;
}
.followers{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  margin:20px 6px;
}
.followers div:hover{
  transition: 0.15s;
  color:#ff5b0d;
}
.followers h3{
  color:#ff5b0d;
}
/*left div[end]*


/*center div[start]*/

/* Center div[start] */
.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:60%;
  background: white;
  padding: 8px;
  margin: 4px;
}
.single-post{
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}
.posts .content{
  display: flex;
  flex-direction: column;
}
.posts .content p{
  font-size: 13px;
  font-weight:400;
}
.posts .content img{
  width: 100%;
  margin: 8px 0;
}
.posts .content span a:hover{
  text-decoration: underline;
}
/*center div[end]*/


/*right div[start]*/
.suggestions{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 20%;
  background: white;
  padding: 8px;
  margin: 4px;
}
.suggestions .d1{
  display: flex;
  justify-content: space-between;
}
.suggestions .d1 a:hover{
  text-decoration: underline;
}
.accounts{
  display: flex;
  flex-direction: column;
}
.accounts .username{
  padding:10px 0;
  flex-grow: 1;
}
.accounts a{
  align-self: center;
}
.user{
  display:flex;
  flex-wrap:wrap;
  align-content:center
}
.user button{
  color: ghostwhite;
  font-size: 17px;
  padding: 4px 8px;
  align-self: center;
  border-radius: 5px;
  border:0;
  background: rgb(252,160,69);
  background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
  cursor: pointer;
  transition: 0.5s;
  margin:0  ;
}
.user button:focus{
  outline:none;
}

/*right div[end]*/


/*Main content[end]*/

#create{
  position: fixed;
  left: 85%;
  top: 85%;
  color:#ff5b0d;
  font-size: 40px;
  transition: 0.1s;
}
#create:hover{
  font-size: 50px;
  transition: 0.5s;
}
/**/
@media (min-width: 320px) and (max-width: 480px) {
  .info{
    display: none;
  }
  .posts{
    width: 100%;
  }
  .suggestions {
    display: none;
  }



  .header{
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width:767px){
  .menu{
    flex-direction: column;
  }
  .menu .icon{
    display:block;
    transition: 0.5s;
  }
  .menu a{
    display:none;
  }

  .header h1{
    display: none;
  }
  .menu.responsive{
    position: relative;
  }

  .align-end{
    padding-right: 30px;
    justify-content: flex-end;
  }

  .menu.responsive .icon{
    right:0;
    top:0;
  }

  .menu.responsive a{
    float:none;
    text-align: right;
    display: block;
  }

  .removeSearch{
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .suggestions{
    display: none;
  }
  .info{
    width: 25%;
  }
  .posts{
    width: 75%;
  }

}



/*DESKTOP [START]*/
@media only all and (min-width: 1000px){

  /*Setting up the header [start]*/
  .header{
    padding: 18px 200px 18px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #100e17;
  }
  /*Setting up the header [end]*/

  /*Modifying the list [start]*/
  .header ul{
    display: flex;
    align-items:center;
    font-size: 20px;
  }
  .header li{
    display: inline-block;
  }
  .header li a{
    padding: 4px 8px;
  }
  .header li a:hover{
    background-color: #fc7438;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header a{
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
    transition: 0.5s;
  }
  /*Modifying the list [end]*/

  /*Searchbox [start]*/
  .header p{
    margin:0;
    align-self: center;
    width: 70%;
    text-align: center;
  }
  .header input[type=text]{
    padding:6px;
    border: 2px solid ghostwhite;
    border-right: none;
    width: 75%;
    font-size: 17px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background: inherit;
    color: ghostwhite;
  }
  .header ::placeholder{
    color: ghostwhite;
    opacity: 0.7;
  }
  .header input[type=text]:focus{
    outline: none;
  }
  .header button{
    font-size: 17px;
    padding: 6px 10px;
    border: 2px solid ghostwhite;
    border-left: none;
    background: rgb(252,160,69);
    background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
    cursor: pointer;
    transition: 0.5s;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }
  .header button:focus{
    outline: none;
  }
  /*Searchbox [end]*/

  /*Navigation bar[start]*/
  .nav{
    display: flex;
    justify-content: space-around;
    padding: 0 400px;
    background-color: ghostwhite;
    color:#100e17;
  }
  /*Navigation bar[end]*/
  .main{
    padding: 10px 100px;
  }
  .posts .content p{
    font-size: 14px;
    font-weight:400;
  }
  .user button{
    color: ghostwhite;
    font-size: 17px;
    padding: 4px 8px;
    align-self: center;
    border-radius: 5px;
    border:0;
    background: rgb(252,160,69);
    background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
    cursor: pointer;
    transition: 0.5s;
    margin:0 0 0 30px;
  }
  .user button:focus{
    outline:none;
  }

  .bg-modal{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;

  }

  .modal-content{
    color: #100e17;
    width: auto;
    height: auto;
    background-color: #100e17;
    border-radius: 5px;
    position: relative;
    display: none;
  }

  .modal-image{
    width: 75%;
    display: none;
  }

  .title-bar{
    color:ghostwhite;
    display: flex;
    justify-content:space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #100e17;
    padding: 0 15px;
    background: rgb(252,160,69);
    background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
  }

  .title-bar h3{
    align-self: center;
  }
  .close{
    cursor: pointer;
    display: inline-block;
    transform: rotate(45deg);
  }

  .upload{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
  }
  .upload textarea{
    font-family: inherit;
    font-size: 17px;
    color: ghostwhite;
    resize: none;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    padding: 8px;
    background-color: #100e17;
  }

  .upload input[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

  .upload input[type="file"] + label {
    background: rgb(252,160,69);
    background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
    border-radius: 5px;;
    color: ghostwhite;
    font-weight:bold;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 12px;
  }
  #uploadBtn{
    background: rgb(252,160,69);
    background: linear-gradient(90deg, rgba(252,160,69,1) 0%, rgba(253,29,29,1) 100%);
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: ghostwhite;
    font-weight:550;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 30px;
    align-self: flex-end;
  }
}
/*DESKTOP [END]*/
