*{
  padding:0;
  margin:0;
}

html{
    font-family: 'Titillium Web';
}
.container{
  display: flex;
  flex-direction: row;
  width: auto;
  color:ghostwhite;
  background: rgb(114,43,14);
  background: radial-gradient(circle, rgba(114,43,14,1) 0%, rgba(16,14,23,1) 69%);
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
}
.register-box{
  height: 557px;
  padding:0 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  background: rgb(252,160,69);
  background: linear-gradient(0deg, rgba(252,160,69,1) 0%, rgba(253,73,42,1) 100%);
  text-align: center;
}
.register-form{
  display: flex;
  flex-direction: column;
}
.input-box{
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
  border:1px solid darkgray;
  border-radius: 4px;
}
#register-btn{
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  transition: 0.5s;
  background-color: #100e17;
  color: ghostwhite;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}

.register-box a{
  color: inherit;
}
.error{
  color: white;
}
#welcome{
  display: flex;
  width: 750px;
  height: 422px;
  background: rgb(252,160,69);
  background: linear-gradient(0deg, rgba(252,160,69,1) 0%, rgba(253,73,42,1) 100%);
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#welcome h1{
  display: inline;
  justify-content: center;
}
.slides{
  display:none;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media (max-width:1178px){
  .slider{
    display: none;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media (min-width:320px) and (max-width:480px){
  .register-box{
    padding: 10px;
  }

  .register-box input{
    width:200px;
  }
}
